DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=adminpassword
DJANGO_SUPERUSER_EMAIL=admin@example.com

# PRODUCTION: Generate a new key with: python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY="django-insecure-lp6h18zq4@z30symy*oz)+hp^uoti48r_ix^qc-m@&yfxd7&hn"

# PRODUCTION: Set to False
DEBUG=True

# PRODUCTION: Replace with your server IP or domain, e.g. ALLOWED_HOSTS=123.45.67.89,videoflix.example.com
ALLOWED_HOSTS=localhost,127.0.0.1

# PRODUCTION: Replace with your server URL, e.g. CSRF_TRUSTED_ORIGINS=http://123.45.67.89
CSRF_TRUSTED_ORIGINS=http://localhost:5500,http://127.0.0.1:5500

# PRODUCTION: Replace with your server URL, e.g. CORS_ALLOWED_ORIGINS=http://123.45.67.89
CORS_ALLOWED_ORIGINS=http://localhost:5500,http://127.0.0.1:5500

# PRODUCTION: Replace with your server URL, e.g. FRONTEND_URL=http://123.45.67.89
FRONTEND_URL=http://127.0.0.1:5500

DB_NAME=videoflix_db
DB_USER=videoflix_user
DB_PASSWORD=supersecretpassword
DB_HOST=db
DB_PORT=5432

REDIS_HOST=redis
REDIS_LOCATION=redis://redis:6379/1
REDIS_PORT=6379
REDIS_DB=0

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_password
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=your_email@example.com
